//
//  APIService.debug.xcconfig
//  APIService
//
//  Created by Simon on 2021/3/11.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-APIService/Pods-APIService.debug.xcconfig"
APIHostEn = www.baidu.com   //英语
APIHostId = www.baidu.com.1   //印尼语
APIHostVi = www.baidu.com.2   //越南语
APIHostTh = www.baidu.com.3   //泰语
APIHostRu = www.baidu.com.4   //俄语

WebHostEn = www.baidu.com:83  //英语
WebHostId = www.baidu.com:83  //印尼
WebHostVi = www.baidu.com:83  //越南
WebHostTh = www.baidu.com:83  //泰国
WebHostRu = www.baidu.com:83  //俄语
